/* Navigation.css */
.navigation {
    background-color: #555;
    overflow: hidden;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navigation ul li a:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .navigation ul li a {
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation ul li {
        display: block;
        width: 100%;
    }

    .navigation ul li a {
        padding: 10px;
        width: 100%;
    }
}