.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('/path-to-your-image.jpg') no-repeat center center/cover; */
    color: #5b3a29; /* Primary Dark Brown */
    text-align: center;
  }
  
  .hero h1 {
    font-size: 64px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 24px;
    margin-top: 20px;
  }
  
  