.contact {
    padding: 100px 20px;
    background-color: #f5f5f5; /* Light Beige/Gray Background */
    text-align: center;
  }
  
  .contact-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact h2 {
    font-size: 48px;
    color: #5b3a29; /* Primary Dark Brown */
    margin-bottom: 20px;
  }
  
  .contact form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
  }
  
  .contact form input,
  .contact form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #ffffff;
  }
  
  .contact form button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #5b3a29; /* Primary Dark Brown */
  }
  