/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .content {
      padding: 15px;
  }
}

@media (max-width: 480px) {
  .content {
      padding: 10px;
  }
}
